<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MortysDLP_dotNet_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MortysDLP_dotNet_.Properties.Settings>
            <setting name="DOWNLOADPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="ZEITSPANNE_VON" serializeAs="String">
                <value />
            </setting>
            <setting name="ZEITSPANNE_BIS" serializeAs="String">
                <value />
            </setting>
            <setting name="ERSTESEKUNDEN_SEKUNDEN" serializeAs="String">
                <value />
            </setting>
            <setting name="VIDEOFORMAT" serializeAs="String">
                <value />
            </setting>
        </MortysDLP_dotNet_.Properties.Settings>
    </userSettings>
</configuration>